#navbar ul{
    list-style : none ;
    margin : 0px;
    padding : 0px ; 
}

#navbar ul a li{
    float : left ; 
    border-right : white 3px solid;
    padding : 0px 25px ;
    transition : all 0.4s  ; 
}
#navbar{
    background-color : orange ;
    height : 60px;
   line-height : 60px;
    font-size : 18px;
    font-family : cursive ;
    border-radius : 30px;
}

#navbar ul a li:hover{
    background-color : red;
    font-size : 23px; 
}






